/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &five_column_transform;
    };
};

/ {
    behaviors {
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&sk_quick>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <150>;
            flavor = "balanced";
        };

        hmrs: hmrs {
            compatible = "zmk,behavior-hold-tap";
            label = "HMRS";
            bindings = <&sk_quick>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
        };

        td_quotes: td_quotes {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_QUOTES";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE>, <&kp DOUBLE_QUOTES>, <&kp GRAVE>;

            tapping-term-ms = <250>;
        };

        sk_quick: sk_quick {
            compatible = "zmk,behavior-sticky-key";
            label = "SK_QUICK";
            bindings = <&sk>;
            #binding-cells = <1>;
            ignore-modifiers;
            release-after-ms = <3000>;
            quick-release;
        };
    };

    combos {
        compatible = "zmk,combos";

        Esc {
            bindings = <&kp ESCAPE>;
            key-positions = <2 3>;
        };

        Bksps {
            bindings = <&kp BACKSPACE>;
            key-positions = <8 9>;
        };

        Delete {
            bindings = <&kp DELETE>;
            key-positions = <32 33>;
        };

        vim_j {
            bindings = <&kp J>;
            key-positions = <19 20>;
            layers = <0>;
        };

        vim_k {
            bindings = <&kp K>;
            key-positions = <21 20>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Colemak_dh {
            bindings = <
&trans  &kp Q             &kp W             &kp F         &kp P          &kp B            &kp J                 &kp L          &kp U                 &kp Y              &td_quotes         &trans
&trans  &hmrs LEFT_GUI A  &hmrs LEFT_ALT R  &hmr LCTRL S  &hmr LSHIFT T  &kp G            &kp M                 &hmr RSHIFT N  &hmr RIGHT_CONTROL E  &hmrs RIGHT_ALT I  &hmrs SEMICOLON O  &trans
&trans  &kp X             &kp C             &kp D         &kp V          &kp Z            &kp K                 &kp H          &kp COMMA             &kp DOT            &kp SLASH          &trans
                                            &trans        &lt 1 SPACE    &mt LCTRL TAB    &sk_quick LEFT_SHIFT  &lt 2 ENTER    &trans
            >;
        };

        symnum {
            display-name = "symnum";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &mt TILDE GRAVE     &kp POUND                  &kp LEFT_BRACE                      &kp RIGHT_BRACE                    &kp ASTERISK    &kp PLUS                &kp N7        &kp N8        &kp N9               &kp AMPERSAND     &trans
&trans  &hmrs LGUI AT_SIGN  &hmrs LEFT_ALT UNDERSCORE  &hmr LEFT_CONTROL LEFT_PARENTHESIS  &hmr LEFT_SHIFT RIGHT_PARENTHESIS  &kp DOLLAR      &kp MINUS               &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6         &kp PIPE          &trans
&trans  &kp CARET           &kp EXCLAMATION            &kp LEFT_BRACKET                    &kp RIGHT_BRACKET                  &kp PERCENT     &kp EQUAL               &kp NUMBER_1  &kp NUMBER_2  &mt PERIOD NUMBER_3  &mt BACKSLASH N0  &trans
                                                       &trans                              &trans                             &trans          &mt RCTRL GREATER_THAN  &trans        &kp N0
            >;
        };

        fn {
            display-name = "fn";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp F1         &kp F2         &kp F3         &kp F4          &kp INS            &kp HOME  &kp PAGE_DOWN   &kp PG_UP        &kp END    &bt BT_CLR_ALL  &none
&trans  &hmrs LGUI F5  &hmrs LALT F6  &hmr LCTRL F7  &hmr LSHIFT F8  &kp PRINTSCREEN    &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW     &kp RIGHT  &bt BT_SEL 0    &none
&trans  &kp F9         &kp F10        &kp F11        &kp F12         &none              &none     &kp C_VOL_DN    &kp C_VOLUME_UP  &none      &bt BT_SEL 1    &none
                                      &trans         &trans          &trans             &trans    &trans          &trans
            >;
        };

        mouse {
            bindings = <
&trans  &trans  &trans     &mkp MB4   &mkp MB5   &trans    &trans          &msc SCRL_DOWN  &msc SCRL_UP  &trans           &trans  &trans
&trans  &trans  &mkp MCLK  &mkp RCLK  &mkp LCLK  &trans    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans    &trans          &trans          &trans        &trans           &trans  &trans
                           &trans     &trans     &trans    &trans          &trans          &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        l_mouse {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
